<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>trabajo 6</title>
        <link href="./styles.css" rel="stylesheet" />
        <script src ="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">productos</div>
                <div class="list-group list-group-flush">
                    {{>navlinks}}
                </div>
            </div>
            <div id="page-content-wrapper">
                <div class="container-fluid px-5 pt-3">
                    {{{body}}}
                </div>
            </div>
        </div>
        <script src="./js/bootstrap.bundle.min.js"></script>
        <script src="./js/scripts.js"></script>
        
    </body>
</html>